<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="downloadbankerConnectionString" connectionString="server=127.0.0.1;user id=root;password=ALUNOS;persistsecurityinfo=True;database=downloadbankerCripto"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
      <httpHandlers>
           <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>

      </httpHandlers>

      <customErrors mode="On" defaultRedirect="erroDesconhecido.aspx">
        <error statusCode="404" redirect="erro404.aspx" />
      <error statusCode="500" redirect="erro500.aspx" />
      </customErrors>



    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
          <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>

    </handlers>
  </system.webServer>
  
  
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
